.header{
    padding: 25px 0;

    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: 'Inter';

        .header__name{
            font-size: 35px;
            font-weight: 800;
            user-select: none;
            color: var(--fg-color);
        }

        .toggle-theme{
            user-select: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: 300;
            color: var(--fg-color);
        }
    }
}