.navbar{
    padding: 25px 0;

    .toggle-button{
        font-family: 'Inter';
        font-size: 35px;
        font-weight: 800;
        user-select: none;
        cursor: pointer;
        display: none;
        color: var(--fg-color);
    }

    .navbar__links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 150px;
        align-items: center;
        
        .link{
            font-family: 'Inter';
            font-weight: 800;
            font-size: 35px;
            user-select: none;

            a{
                text-decoration: none;
                color: var(--fg-color);
                position: relative;

                &.active{
                    &::before{
                        position: absolute;
                        content: '';
                        height: 7px;
                        width: 100%;
                        background-color: var(--fg-color);
                        bottom: -8px;
                    }
                }
            }

            &:hover{
                a::before{
                    position: absolute;
                    content: '';
                    height: 7px;
                    width: 100%;
                    background-color: var(--fg-color);
                    bottom: -8px;
                }
            }
        }
        .dot{
            height: 15px;
            width: 15px;
            background-color: var(--fg-color);
            border-radius: 50%;
            margin: 0 5px;
        }
    }

    @media (max-width: 700px) {
        display: flex;
        justify-content: flex-end;

        .navbar__links{
            display: none;
        }

        .toggle-button{
            position: relative;
            display: block;
            &.opened{
                &::before{
                    position: absolute;
                    content: '';
                    height: 7px;
                    width: 100%;
                    background-color: var(--fg-color);
                    bottom: -8px;
                }
            }
        }
    }
}