.projects-page {
    height: 100%;
    padding: 0 70px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--fg-color);
    }

    .all {
        position: absolute;
        font-family: 'Inter';
        font-size: 18px;
        color: var(--fg-color);
        user-select: none;
        bottom: 40px;
        right: 70px;
        font-weight: 400;
    }

    .projects-list {
        margin-top: 120px;
    }
}