@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg-color: #e6e6e6;
  --fg-color: #111110;
}

*{
  transition: 0.1s;
  transition-property: color, background-color;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 50px;
  background-color: var(--bg-color);

  &.dark--theme{
    --bg-color: #111110;
    --fg-color: #e6e6e6;
  }

  .main-container{
    height: 100%;
    position: relative;
    overflow: hidden;

    border: 4px solid var(--fg-color);
  }
}