@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg-color: #e6e6e6;
  --fg-color: #111110;
}

*{
  transition: 0.1s;
  transition-property: color, background-color;
}

@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Semi.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'Albra';
  src: url(./assets/fonts/Albra/AlbraTextTRIAL-Black.otf);
  font-weight: 900;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 50px;
  background-color: var(--bg-color);

  &.dark--theme{
    --bg-color: #111110;
    --fg-color: #e6e6e6;
  }

  .main-container{
    height: 100%;
    position: relative;
    overflow: hidden;

    border: 4px solid var(--fg-color);
  }
}