:root{
  --bg-color: #e6e6e6;
  --fg-color: #111110;
}
.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 50px;
  background-color: var(--bg-color);

  .main-container{
    height: 100%;

    border: 4px solid var(--fg-color);
  }
}